.DS_Store
*.pyc
datasets/clean/*
datasets/results/*
CMakeFiles/
CMakeCache.txt
Makefile

CTestTestfile.cmake
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
cpp/Testing/
cpp/external/
cpp/build

bpt/prefixbox/
bpt/src/
